/* ------------------------------ 
#CUSTOM PROPERTY
--------------------------------*/

:root{

    /*------- colors ------- */

    /* blackground */
    --bg-black:#000000;
    --bg-black-gray: #222121;
    --bg-transprat: linear-gradient(
        to bottom right, 
        hsl(0, 0%, 25%) 0%, 
        hsla(0, 0%, 25%, 0) 50%);

    /* icon */
    --ic-1stgold:#E9A319;
    --ic-2ndgray: #7A7A73;

    /* broder */
    --bc-white: white;
    --bic-transprant: hsla(0, 60%, 44%, 0.412) 80%;

    /* text */
    --tc-white: white;


    /*---------font-family -------*/
    --ff-franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    /* ------ font-size --------*/
    --fs-h1: 2.5em;
    --fs-h2: 2em;
    --fs-h3: 1.5em;
    --fs-h4: 1em;
    --fs-p1:1.5em;
    --fs-p2:1em;

    /*----- font-weight-------- */
     --fw-300: 300;
     --fw-400: 400;
     --fw-500: 500;
     --fw-600: 600;


    /*------- shadow ----------*/
     --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
     --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
     --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
     --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
     --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

      /*--------- transition ---------*/
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;

}



/* --------------------------------
#RESET
--------------------------------- */
* {
    box-sizing: border-box;
   
  }


a{ 
    text-decoration: none; 
    color: var(--bc-white);
}
  
li{ 
    list-style: none; 
    
}

img, i, a, button, time, span { 
    display: block; 
}

body{background-color: var(--bg-black);}

html{
    font-family: var(--ff-franklin);
}





/* -------------------------------------------------------------
 #Start Styling
---------------------------------------------------------------- */


/*-------------- Asidebar------------  */

/* basic style */
main{
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar{
    width: 18em;
    background: var(--bg-black-gray);
    border: 1px solid var(--bc-white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: var(--shadow-1);
    height: auto;
    
}
.profile-img{
    justify-items: center;
}

.saparate{
    width: 100%;
    height: 1px;
    background-color: var(--bc-white);
    margin: 2rem 0;
}

.name{
    font-size: var(--fs-h2);
    text-align: center;
    font-weight: var(--fw-600);
    color: var(--tc-white);
}
.title{
    font-size: var(--fs-h3);
    text-align: center;
    color: var(--tc-white);
    font-weight: var(--fw-400);
    border-radius: 0.5rem;
    display: block;

}

.sidebar-info{
    color: var(--tc-white);
}

i{
    color: var(--ic-1stgold);
    font-size: var(--fs-h3);
}


.contact-item{
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin-top: 1rem;
}

.sidebar button{
    display: none;
}

.contact-title{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.contact-title p,a,time,address{
    margin-top: -1rem; 
}

.contact-title p{
    font-weight: var(--fw-600);
}

.contact-title a, time, address{
    font-weight: var(--fw-400);
}

/* --------------------------main content-----------------------  */
.main-content{
    height: auto;
    width: 60em;
    margin-left: 1rem;
    background: var(--bg-black-gray);
    border: 1px solid var(--bc-white);
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    margin-top: 0;
}

/*----------navbar --------- */

.navbar{
    display: flex;
    justify-content: end;
    margin-top: 0;
}

.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(99, 94, 94);
    border-radius: 0 1rem 0 ;
    margin-top: -0.5rem;

   
}

.navbar-item{
    padding: 2rem 1rem;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link{
    font-size: 1.2rem;
    color: var(--tc-white);
    
}


/* ----------about section---------- */

.about{
    position: relative;
    padding: 0 2rem;
    margin-top: -4em;
    color: var(--tc-white);
    line-height: 1.5rem;
    
}

.saparate1{
    width: 3rem;
    height: 5px;
    background-color: var(--ic-1stgold);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.about-title{
    font-size: var(--fs-h1);
    font-weight: var(--fw-600);
}

/* ------------work section---------- */

.work-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.work-item{
    border: 1px solid var(--bc-white);
    padding: 1rem;
    border-radius: 1rem;
}










/* -----------------
responsive 
------------------------*/
/*--------------- for max sceen 1200px---------- */

@media(max-width:1200px){

    /* asidebar */
    .sidebar{
        /* max-height: 10rem; */
        width: 100%;
        margin-bottom: 2rem;
        /* overflow: hidden;  */  /* don't use this because this stop the responsiveness */
    }

    .sidebar-title{
        display: flex;

    }

    .name{
        font-size: var(--fs-h2);
        /* margin-top: -0.5rem; */
        font-weight: 800;
    }
    .title{
        font-size: var(--fs-h4);
        font-weight: 600;
    }

    .sidebar-title button{
        display: inline-block;
        /* margin-bottom: -3rem;
        color: var(--ic-1stgold); */
        background-color: var(--bg-black-gray);
    }

    .show-contact-btn{
        position: absolute;
        top: 4rem;
        right: 3rem;
        border-radius: 0.5rem;
        font-size: var(--fs-p2);
        color: var(--ic-1stgold);
    }
    
    .contact-btn{
        display: none;
    }

    
    
    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        gap: 1.5rem;
        padding: 0;
    }

    .profile-img{
        margin-top: 1rem;
    }

     .contact-name-title{
        margin-left: 0.5rem;
        margin-top: 2rem;
    }

    [data-all-contact] {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

    [data-all-contact].active {
        max-height: 20rem; /* a value big enough to show all content */
    }


     /* main content */

     main {
        flex-direction: column; /* stack vertically on smaller screens */
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 4rem;
    }
    
    .main-content {
    width: 100%; /* full width on smaller screens */
    margin-left: 0;
    margin-top: -1.5rem;
    }



    /* navbar */

    .navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    backdrop-filter: blur(6rem);
    border: 1px solid black;
    border-radius: 12px 12px 0 0;
    margin: 0;
    padding: 0;
    }

    .navbar-list{
        margin-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 0%;
    }

    /* about section */

    .about{
        margin-top: 0;
    }

}












/* --------for max sceen 578px ---------- */

@media(max-width:578px){

    main{
        padding: 0.4em 0.5em 1em 0.5em;
        padding-bottom: 4rem;
    }

    .sidebar-title{
        max-height: 6rem; 
    }

    .contact-icon{
        list-style: none;
    }
    
    .profile-img{
        max-width:1em ;
        margin-top: 0;
        margin-left: 2.3rem;
    }

    .name{
        font-size: var(--fs-h3);
        margin-left: 1rem;
    }

    .title{
        font-size: var(--fs-h4);
    }
    .contact-text{
        display: none;
    }

    .contact-btn{
        display: block;
        position: absolute;
        top: -3rem;
        right: -2rem;
        border-radius: 0.5rem;
        font-size: var(--fs-p2);
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-name-title{
        margin-left: 2rem;
        margin-top: 2rem;
    }

    [data-all-contact] {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
      }
    [data-all-contact].active {
        max-height: 30rem; /* a value big enough to show all content */
      }


    /* main content */
   


      /* navbar */
      .navbar{
        display: block;
      }

      .navbar-list{
        display: flex;
        justify-content: center;
        justify-items: center;
        gap: -5rem;
      }

      .nav-link{
        font-size: 1rem;
        font-weight: 600;
        
    }

    

}


@media(max-width:838px){
    .work-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

}

